:host {
  display: block;
  top: calc(100% + 5px);
  position: absolute;
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  background-color: white;
  z-index: 1;
}

.list-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  color: #3a3a3a;
  cursor: pointer;
  transition: background .1s;
  user-select: none;

  &:hover {
    background-color: #efefef;

    & input ~ .mark {
      background-color: #ccc;
    }
  }

  & input:checked ~ .mark {
    background-color: #2196F3;

    &:after {
      display: block;
    }
  }
}

.mark {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #eee;
  transition: background .1s;

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

