<button class="prev" (click)="prevSlide()"></button>
<button class="next" (click)="nextSlide()"></button>

<div class="slide-wrapper">
  <app-slide
    [sliders]="sliders"
    [slide]="slide"
    [slideIndex]="slideIndex"
    [current]="current"
    class="slide"
    *ngFor="let slide of sliders; index as slideIndex"
    [style.opacity]="current === slideIndex ? 1 : 0"
    [style.z-index]="current === slideIndex ? 1 : -1"
    [ngStyle]="{'transform': 'translateX(' + currentTransition[slideIndex] + 'px)'}">

    <h3>Tinkoff Black</h3>

    <p>{{ slide }}
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolorum.
    </p>

    <div class="wrapper">
      <button class="order">Оформить карту</button>
      <span class="current-slide">{{ slideIndex + 1 }}/{{ sliders.length }}</span>
    </div>
  </app-slide>
</div>

<div class="navigation">
  <button
    class="navigation-btn"
    *ngFor="let slide of sliders; index as i"
    [class.active]="current === i"
    (click)="showSlide(i)"
  ></button>
</div>


