<a routerLink="" class="back">&#8592;</a>

<button class="prev" (click)="prevSlide()"></button>
<button class="next" (click)="nextSlide()"></button>

<div class="slide-wrapper">
  <app-slide
    class="slide"
    *ngFor="let slide of sliders; index as slideIndex"
    [sliders]="sliders"
    [slide]="slide"
    [slideIndex]="slideIndex"
    [current]="current"
    [ngStyle]="{
      'transform': 'translateX(' + currentTransition[slideIndex] + 'px)',
      'opacity': current === slideIndex ? 1 : 0,
      'z-index': current === slideIndex ? 1 : -1
    }">

    <h3>Tinkoff Black</h3>

    <p>{{ slide }}
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolorum.
    </p>

    <div class="wrapper">
      <button class="order">Оформить карту</button>
      <span class="current-slide">{{ slideIndex }}/{{ sliders.length - 1 }}</span>
    </div>
  </app-slide>
</div>

<div class="navigation">
  <button
    class="navigation-btn"
    *ngFor="let slide of sliders; index as i"
    [class.active]="current === i"
    (click)="showSlide(i)"
  ></button>
</div>


