:host {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  font-size: 14px;

  & span:first-of-type {
    cursor: pointer;
  }
}

header,
/deep/ .detail {
  display: grid;
  grid-template-columns: 26% 27% 10% 12% 20%;
  grid-column-gap: 10px;
}

section {
  border: 1px solid gray;
  border-radius: .25rem;
}

.name {
  cursor: pointer;
}

