li {
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.page-size {
  display: flex;
  align-items: baseline;
}

.title {
  margin-right: 10px;
}
