<div class="selected-items">

  <div class="item-container">
    <div class="item" *ngFor="let item of selectedItems; index as i">
      {{ item.title }}
      <button class="delete-item" (click)="deleteItem(item.id)">&#10006;</button>
    </div>

    <label class="input-container">
      <input [placeholder]="selectedItems.length ? '' : 'Search items'">
    </label>
  </div>

  <button class="dropdown-button" (click)="open()"></button>
</div>

<app-dropdown-list
  *ngIf="isOpen"
  [dropdownList]="dropdownList$ | async"
  (onChanged)="onChanged($event)">
</app-dropdown-list>
