:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  margin-top: -300px;
  padding: 50px;
  font-family: Roboto, sans-serif;
  background-color: white;
  box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
}

.selected-items {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: baseline;
  padding: 10px 0 0 10px;
  user-select: none;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #9c9b9b;
  border-radius: 5px;
  color: white;

  & .delete-item {
    margin-left: 5px;
    padding: 0;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .1s;

    &:hover {
      color: #ff6f6f;
    }
  }
}

.input-container {
  flex: 1;
  min-width: 70px;

  input {
    width: 100%;
    box-sizing: content-box;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    outline: none;

    &:focus {
      border-bottom: 1px solid #9c9b9b;
    }
  }
}

.dropdown-button {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
    border: 1px solid #9c9b9b;
    border-top: none;
    border-left: none;
    transition: transform .1s;
    transform: rotate(45deg);
  }
}

.reverse:before {
  margin-top: 8px;
  transform: rotate(225deg);
}
